html {
  height: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#root {
  background: rgb(66, 64, 64);
  padding-top: 4em;
  padding-bottom: 0.5em;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 2.5rem;

  color: grey;
  padding: -5rem;
}

footer p {
  margin: auto;
  padding: 0.5em;
}

.navbar {
  height: 3em;
}

.pagetitle {
  color: beige;
}

.content-wrap {
  /* Footer height */
  min-height: 100vh;
}

/* Using Grid to stick Footer to bottom https://webtips.dev/align-footer-to-bottom-of-page-in-css?utm_content=cmp-true*/
#root,
body {
  display: grid;
  min-height: 100vh;
  width: 100%;
  grid-template-rows: auto 1fr auto;
}

/* holiday cards */

.layout {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.holiday-events {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: darkgray;
  align-items: center;
}

.card {
  border: 1px solid;
  border-radius: 20px;
  margin: 1em;
  padding: 0.2em;
  height: 20em;
  width: 15em;
}

div.card {
  background-color: rgb(207, 209, 201);
}

.calendar-container {
  padding-top: 5rem;
}

/* Overwriting CSS from react-calendar */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: rgb(150, 155, 160);
  border: 1px solid #6d689f;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #9c0909;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

/* .react-calendar__tile:disabled {
  background-color: #f0f0f0;
} */

  .react-calendar__tile:enabled:hover{
    background-color: #a9ae17;
  }

.react-calendar__tile--now {
  background: #cbcbc8;
  color: black;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

/* .react-calendar__tile--active {
  background: #185693;
  color: rgb(234, 225, 225);
} */

/* .react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
} */

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #372d2d;
}

.selected-date {
  background-color: #276f7f;
}


/* !important needed to overwrite bootstrap styling */
.btn-primary, .btn-primary:active, .btn-primary:visited  {
  background-color: #276f7f !important;
  border-color: #276f7f !important;;
}

.btn-primary:hover {
  background-color: #30889c !important;
}

.booked-date {
  background-color: #a1456a;
}

.bankholiday {
  background-color: #685dad;
}


.list-booked{
  background: #276f7f;
}

.description{
  font-size: 3px;
}
