



.card {
  padding: 2em;
}


.layout{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}


.holiday-events {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  width: 20%;
}

.card-holiday{
  border: 1px solid;
  border-radius: 20px;
  margin: 2rem;
}





