/* MAIN PAGE */
html {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

#root {
  background: rgb(66, 64, 64);
  padding-top: 3em;
  padding-bottom: 0.5em;
  min-height: 100vh;
  width: 100%;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  width: 100%;
  padding: 4rem;
  min-height: 100vh;
  flex: 1; /* The content takes up available space in the view port */
}

/* FOOTER */
.footer {
  bottom: 0;
  width: 100%;
  height: 2.5rem;

  color: grey;
  padding: -5rem;
}

footer p {
  margin: auto;
  padding: 0.5em;
}

/* HEADER */
.navbar {
  height: 3em;
}

.navbar-branding {
  text-decoration: none;
  padding-left: 20px;
}
.web-title {
  color: #c89d38;
  font-weight: bold;
  vertical-align: middle;
}

.logo {
  height: 2.3rem;
  padding-bottom: 5px;
}

/* TABLE */
table {
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}
th {
  background-color: #949699 !important;
  color: white !important;
  vertical-align: middle;
  width: 33%;
}
td {
  background-color: #b7b7b4 !important;
  width: 33%;
}

/* Booked Holidays */
.main-accordion {
  padding-top: 2.5rem;
}

.booked-list {
  --bs-list-group-bg: #b7b7b4;
  --bs-list-group-border-color: #d0d0cd;
  font-size: 0.9rem;
}

.accordion-bankholiday {
  --bs-accordion-btn-bg: #685dad;
  --bs-accordion-btn-color: white;
  --bs-accordion-active-bg: #685dad;
  --bs-accordion-active-color: white;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-border-color: none;
  --bs-accordion-bg: #817ba5;
}
.accordion-bookedholidays {
  --bs-accordion-btn-bg: #a1456a;
  --bs-accordion-btn-color: white;
  --bs-accordion-active-bg: #a1456a;
  --bs-accordion-active-color: white;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-border-color: none;
  --bs-accordion-bg: #a67d8e;
}

/* CARDS (bank holiday) */
.layout {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.holiday-events {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: inherit;
  align-items: center;
  border-radius: 15px;
}

.card {
  border-radius: 15px;
  margin: 0.4rem 0.1rem;
  padding: 0;
  height: 20rem;
  width: 10rem;
  font-size: 0.7rem;
}

div.card {
  border: 1.5px solid;
  border-color: #d0d0cd;
  background-color: #b7b7b4;
  border-radius: 15px;
}

/* Overwriting CSS from react-calendar */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: rgb(148, 150, 153);
  border: 1px solid rgb(148, 150, 153);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 15px;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: rgb(80, 81, 83);
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #9c0909;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}

.react-calendar__tile:enabled:hover {
  background-color: #b7b7b4;
}

.react-calendar__tile--now {
  background: #c89d38;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #372d2d;
}

.selected-date {
  background-color: #276f7f;
}

/* !important needed to overwrite bootstrap styling */
.btn-booking {
  --bs-btn-bg: #276f7f !important;
  --bs-btn-border-color: #276f7f !important;
  --bs-btn-hover-bg: #30889c !important;
  --bs-btn-hover-border-color: #30889c !important;
}

.btn-cancel {
  --bs-btn-bg: #7f2727 !important;
  --bs-btn-border-color: #7f2727 !important;
  --bs-btn-hover-bg: #a53838 !important;
  --bs-btn-hover-border-color: #a53838 !important;
}

.booked-date {
  background-color: #a1456a;
}

.bankholiday {
  background-color: #685dad;
}

.list-booked-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-booked {
  background: #276f7f;
  margin: 1rem;
  width: 25rem;
  border-radius: 15px;
}

.color-legend {
  margin: 5px;
}

/* CSS styles for screens above 1024px width */
@media (min-width: 1024px) {
  .content-wrap {
    max-width: 1024px; /* Limit the width of the body to 1024px */
    margin: 0 auto; /* Center-align the content */
  }
}
